#app-title {
    width: 15%;
    font-family: "Lucida Console", Courier, monospace;
    background: #6cdbc9;
}

#title {
    width: 15%;
    font-family: "Lucida Console", Courier, monospace;
    background: #dff1ee;
}

#task div {
    height:100%;
    width:10%;
    display:inline-block;
    border:0.5px solid  #dff1ee;
}