:root {
  --primary-color: #3d5afe;
  --primary-light: #8187ff;
  --primary-dark: #0031ca;
  --secondary-color: #ff9100;
  --secondary-light: #ffc246;
  --secondary-dark: #c56200;
}

#app-title {
  width: 15%;
  font-family: "Lucida Console", Courier, monospace;
  background: var(--primary-color);
  padding: 3px;
  color: white;
}

.task_titleData {
  width: 15%;
  font-family: "Lucida Console", Courier, monospace;
  margin: 3px;
  padding: 3px;
  color: black;
}

.task_buttonHolder {
  float: right;
  padding: 1px;
}

.task_button {
  object-fit: contain;
  float: bottom;
  margin: 2px;
  padding: 3px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--secondary-light);
  box-shadow: 2px 2px 6px rgba(5, 5, 5, 0.4);
}

.task_button:hover {
  object-fit: contain;
  float: bottom;
  margin: 2px;
  padding: 3px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: var(--secondary-light);
  box-shadow: 2px 2px 8px rgba(5, 5, 5, 0.7);
}


.task_placeData {
  margin: 3px;
  padding: 3px;
}

.task_timeData {
  margin: 3px;
  padding: 3px;
}

.task_dataholder div {
  height: 100%;
  width: 10%;
  display: inline-block;
  border: 1px solid #dff1ee;
  padding: 3px;
  margin: 3px;
}

.shadowed_main_element {
  border-radius: 15px 1px 15px 15px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

.tasklist_node {
  padding: 5px;
  list-style-type: none;
  background-color: lightgray;
  margin-top: 10px;
}

.chosen_tasklist_node {
  padding: 5px;
  list-style-type: none;
  background-color: #ff0000;
  margin-top: 7px;
}

.task_commentData {
  margin: 3px;
  padding: 3px;
}

#task_container {
  width: 100%;
}

#task-composer-button {
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 48px;
  height: 48px;
  background-color: var(--secondary-dark);
  border-radius: 50%;
  margin-top: 10px;
}

#task-composer-button:hover {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 48px;
  height: 48px;
  background-color: var(--secondary-dark);
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
}




