:root {
  --primary-color: #3d5afe;
  --primary-light: #8187ff;
  --primary-dark: #0031ca;
  --secondary-color: #ff9100;
  --secondary-light: #ffc246;
  --secondary-dark: #c56200;
  --2dp_shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
  --6dp_shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.20);
  --8dp_shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.20);
}

#app-title {
  width: 15%;
  font-family: "Lucida Console", Courier, monospace;
  background: var(--primary-color);
  padding: 3px;
  color: white;
}


.task_buttonHolder {
  float: right;
  padding: 1px;
}

.done_button, .done_button:hover {
  object-fit: contain;
  float: bottom;
  margin: 2px;
  padding: 3px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: linear-gradient(to top, #0a6e00, #148a09);
  box-shadow: var(--2dp_shadow);
}

.marked_done_button, .marked_done_button:hover {
  background: linear-gradient(to top, #c25555, #ff4646);
}

.done_button:hover {
  box-shadow: var(--8dp_shadow)
}

.task_button {
  object-fit: contain;
  float: bottom;
  margin: 2px;
  padding: 3px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: linear-gradient(to top, #ff9f46, var(--secondary-light));
  box-shadow: var(--2dp_shadow);
}

.task_button:hover {
  object-fit: contain;
  float: bottom;
  margin: 2px;
  padding: 3px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: linear-gradient(to top, #ff9f46, var(--secondary-light));
  box-shadow: var(--8dp_shadow)
}

.task_placeData, .task_placeData:focus {
  margin: 3px;
  border: none;
  cursor: default;
  tab-index: -1;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
  width: 90%;
  height: 25px;
}

.task_placeData_chosen {
  margin: 3px;
  width: 90%;
  padding: 1px;
  height: 25px;
  background: white;
}

.task_timeData, .task_timeData:focus {
  margin: 3px;
  border: none;
  outline: none;
  tab-index: -1;
  cursor: default;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
}

.task_timeData_chosen {
  margin: 3px;
  padding: 3px;
  background: white;
}

.task_dateData, .task_dateData:focus {
  margin: 3px;
  border: none;
  outline: none;
  cursor: default;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
}

.task_dateData_chosen {
  margin: 3px;
  padding: 3px;
  background: white;
}

.task_titleData, .task_titleData:focus {
  width: 100%;
  font-family: "Lucida Console", Courier, monospace;
  margin: 3px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 3px;
  outline: none;
  cursor: default;
  color: black;
}


.task_titleData_chosen {
  width: 100%;
  font-family: "Lucida Console", Courier, monospace;
  margin: 3px;
  padding: 3px;
  color: black;
  background: white;
}


.task_commentData, .task_commentData:focus, .task_commentData_chosen {
  width: fit-content;
  margin: 3px;
  padding: 5px;
  border-style: inset;
  border-width: 3px;
  outline: none;
  line-break: anywhere;
  border-color: var(--primary-dark);
  border-radius: 4px 4px 4px 12px;
  box-shadow: 0 0 4px inset black;
  overflow: hidden;
  overflow-wrap: break-word;
}

.task_commentData, .task_commentData:focus {
  background: rgba(0, 0, 0, 0.0);
  tab-index: -1;
  cursor: default;
}

.task_commentData_chosen {
  background: white;
  width: 90%;
}

.task_mainPanel {
  width: 70%;
}

.shadowed_element {
  box-shadow: var(--2dp_shadow);
}

.task_rightPanel {
  width: 20%;
}

.shadowed_chosen_element {
  box-shadow: var(--8dp_shadow)
}

.tasklist_node_default, .tasklist_node_chosen, .tasklist_node_done, .tasklist_node_done_chosen {
  padding: 5px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 15px 1px 15px 15px;
  background: linear-gradient(to right, #c8c8c8, #c9c9c9);
}

.tasklist_node_default:hover {
  background: linear-gradient(to right, #c8c8c8, #c9c9c9);
  border-radius: 15px 1px 15px 15px;
  box-shadow: var(--8dp_shadow)
}

.tasklist_node_chosen {
  background: linear-gradient(to right, #9da0a4, #b3b5b9);
  box-shadow: var(--8dp_shadow)
}

.tasklist_node_done {
  background: linear-gradient(to right, #eaeaea, #ededed);
  opacity: 0.5;
}

.tasklist_node_done_chosen {
  background: linear-gradient(to right, #eaeaea, #ededed);
  opacity: 0.5;
}

#task_container {
  width: 100%;
}

#task-composer-button {
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-top: 10px;
  background: linear-gradient(to top, var(--secondary-dark), var(--secondary-color));
}

#task-composer-button:hover {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  float: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: var(--8dp_shadow);
  background: linear-gradient(to top, var(--secondary-dark), var(--secondary-color));
}

#map {
  height: 400px;
  width: 400px;
}